hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0px !important;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
.preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font: 14px arial;
}

#mainNav {
  background: #509aef;
  background: -moz-linear-gradient(left, #509aef 0%, #7d8cc3 100%);
  background: -webkit-linear-gradient(left, #509aef 0%, #7d8cc3 100%);
  background: linear-gradient(left, #509aef 0%, #7d8cc3 100%);
  -webkit-transition: background-color 0.9s ease-in-out;
  -moz-transition: background-color 0.9s ease-in-out;
  -ms-transition: background-color 0.9s ease-in-out;
  -o-transition: background-color 0.9s ease-in-out;
  transition: background-color 0.9s ease-in-out;
}

.scrolnavi {
  background-color: white;
}

.bawahin {
  padding-top: 50px !important;
}
.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}
.text-lights {
  font-weight: 300 !important;
}

.text-primary-container {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #8c43ff !important ;
}

.navbar {
  color: #fff;
}

.jumbotron h1 {
  color: #fff;
}

.jumbotron p {
  color: #fff;
}

.gambarutama {
  width: 250px;
  height: 250px;
}
.gambarkedua {
  width: 100px;
  height: 100px;
  border: 1px solid #dee2e6 !important;
}
.working {
  margin-bottom: 2rem;
}
.icon-bottom-margin {
  margin-top: -24px !important;
}
.icon-top-margin {
  margin-bottom: 24px !important;
}

.whatido {
  background-color: #fff !important;
  border-style: none !important;
  margin-bottom: 0px !important;
}
.iconwido {
  height: 38px;
  width: auto;
}

.smallsquare {
  border: 0.5px solid #dee2e6 !important;
  box-shadow: 0px 2px 0.5px #777;
}

.iconido {
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.table-buffer-right {
  margin-right: 2px;
  margin-left: 2px;
}
.owl-carousel {
  margin-bottom: 20px;
}
.sparator-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sparator-large {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sparator-extralarge {
  margin-top: 60px;
  margin-bottom: 60px;
}

.container-fluid {
  padding: 0px !important;
}

.jumbotron {
  background-image: url(https://nugrohosetiawan.com/image/slides.jpg);
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: -10px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  width: 100%;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fcfcfc;
}

.owl-carousel .owl-dots .owl-dot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: #1748a7;
}

.owl-carousel .owl-dots .owl-dot.active {
  background-color: #0199d6;
}

.owl-carousel .owl-dots .owl-dot:not(:last-child) {
  margin-right: 0.75rem;
}

/* Testimonial card */

.footerweb {
  background-image: url(https://nugrohosetiawan.com/image/slides.jpg);
  color: white;
  max-width: 100%;
}

#main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
nav.scroll {
  background-color: #a1572f;
  color: #eef;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  box-sizing: border-box;
  box-shadow: 0px 4px 7px #777;
  transition: background-color 0.4s ease-out;
}

#portfolio {
  margin: 1rem 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%;
}
.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.tile:hover {
}

.scale-anm {
  transform: scale(1);
}

.tile img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
